# EditorConfig
*.editorconfig

# Git files
**.git*

# Version file
**.version.txt

# Executables
*.bin
*.out
*.elf
*.elf16
*.elf32
*.elf64
*.exe
*.com
*.app

# Compiled Object files
*.o
*.obj
*.lo
*.slo

# Compiled Dynamic libraries
*.so
*.dll
*.dylib

# Compiled Static libraries
*.a
*.lib
*.la
*.lai

# Temp files
tmp/

# Windows special files
desktop.ini

# Logs
*.log
